# Fish Welfare Project
## Part 2: Supplemental data

* Author: Angelina Li
* Date: 2019/09/11
* Description: Now that we have a collection of information scraped from the FishEthoBase, it might be good to collect some supplemental information on each species, if possible. In particular, I'm interested in finding population number / catch number data on these species.

## Notebook tasks
1. Import in DB data. Potentially convert into a dataframe for easier usage.
2. Investigate and integrate the fish count databases

In [1]:
import json
import os
import pandas as pd
import random
import re
import requests

# eventually I might want to migrate to scrapy, but BS is easier to use on jupyter and
# makes more sense for a small, single-scrape project.
from bs4 import BeautifulSoup

In [2]:
MAIN_DIR = ".."
DATA_DIR = os.path.join(MAIN_DIR, "data")
ETHO_DIR = os.path.join(DATA_DIR, "fish_etho_db")
COUNT_DIR = os.path.join(DATA_DIR, "fish_count")

ETHO_INPUT_FP = os.path.join(ETHO_DIR, "fishdb.json")

S_PAUSE = 5 # how many seconds to pause in between requests
REQ_SUCCESS = 200 # success status code

In [3]:
# define some potentially useful helper function/s first

def get_soup(url_address, pause_secs=S_PAUSE):
    page = requests.get(url_address)
    if page.status_code != REQ_SUCCESS:
        print("Couldn't load content on this page:", url_address)
        return
    soup = BeautifulSoup(page.content, "html.parser")
    time.sleep(random.uniform(0.5, 1.5) * pause_secs)
    print("Loaded page:", url_address)
    return soup

In [4]:
# grab the original dataset
with open(ETHO_INPUT_FP, "r") as datafile:
    db_data = json.loads(datafile.read())

db_data[0]

{'link_summary': 'http://fishethobase.net/db/28/',
 'name_latin': 'Octopus vulgaris',
 'name_english': 'Common octopus',
 'sp_id': 'commonoctopus',
 'description': 'Octopus vulgaris has recently aroused much interest in aquaculture, considered suitable for large-scale production given its commercial value, its fecundity, rapid growth, high protein content, and high feed conversion rate. The main problem, however, is the high mortality rate observed during paralarval rearing, making successful juvenile settlement still very difficult to achieve. Unfortunately, despite the high knowledge on the biology and ethology of this species, there are many other aspects to be solved from a welfare perspective. For instance, the current farming systems result in high stress in O. vulgaris due to spatial constraint, high densities and sociability, which consequently increase aggression (cannibalism and autophagy) at different life stages. In addition, octopus skin is particularly sensitive and can be easily damaged during handling, transportation or stressful confinement conditions. A humane slaughtering protocol is not yet established, since the nature and degree of any suffering during current practices are unknown. O. vulgaris appears capable of experiencing pain and suffering, exhibits cognitive complexity and sophisticated behavioural patterns which can be interpreted and serve as indicator of the welfare status.',
 'link_profile': 'http://fishethobase.net/db/28/shortprofile/',
 'etho_scores': {'home_range': {'likelihood': 'low',
   'potential': 'low',
   'certainty': 'high'},
  'depth_range': {'likelihood': 'low',
   'potential': 'middle',
   'certainty': 'high'},
  'migration': {'likelihood': 'low',
   'potential': 'middle',
   'certainty': 'middle'},
  'reproduction': {'likelihood': 'low',
   'potential': 'middle',
   'certainty': 'middle'},
  'aggregation': {'likelihood': 'low',
   'potential': 'low',
   'certainty': 'high'},
  'aggression': {'likelihood': 'low',
   'potential': 'low',
   'certainty': 'middle'},
  'substrate': {'likelihood': 'low',
   'potential': 'high',
   'certainty': 'middle'},
  'stress': {'likelihood': 'low',
   'potential': 'middle',
   'certainty': 'middle'},
  'malformation': {'likelihood': 'nofindings',
   'potential': 'unclear',
   'certainty': 'nofindings'},
  'slaughter': {'likelihood': 'unclear',
   'potential': 'low',
   'certainty': 'middle'},
  'fishethoscore': {'likelihood': '0', 'potential': '1', 'certainty': '3'}}}

In [5]:
# flatten data, and convert into a dataframe for readability.
def flatten_species_data(species_dict):
    flattened = species_dict.copy() # shallow copy - delete etho scores section
    scores = flattened.pop("etho_scores") # removes the problematic etho_scores dictionary for parsing
    for crit in scores:
        for level in scores[crit]:
            flat_name = "{}_{}".format(crit, level[:2]) # take first two chars per level name
            flattened[flat_name] = scores[crit][level]
    return flattened

flatten_species_data(db_data[0])

{'link_summary': 'http://fishethobase.net/db/28/',
 'name_latin': 'Octopus vulgaris',
 'name_english': 'Common octopus',
 'sp_id': 'commonoctopus',
 'description': 'Octopus vulgaris has recently aroused much interest in aquaculture, considered suitable for large-scale production given its commercial value, its fecundity, rapid growth, high protein content, and high feed conversion rate. The main problem, however, is the high mortality rate observed during paralarval rearing, making successful juvenile settlement still very difficult to achieve. Unfortunately, despite the high knowledge on the biology and ethology of this species, there are many other aspects to be solved from a welfare perspective. For instance, the current farming systems result in high stress in O. vulgaris due to spatial constraint, high densities and sociability, which consequently increase aggression (cannibalism and autophagy) at different life stages. In addition, octopus skin is particularly sensitive and can be easily damaged during handling, transportation or stressful confinement conditions. A humane slaughtering protocol is not yet established, since the nature and degree of any suffering during current practices are unknown. O. vulgaris appears capable of experiencing pain and suffering, exhibits cognitive complexity and sophisticated behavioural patterns which can be interpreted and serve as indicator of the welfare status.',
 'link_profile': 'http://fishethobase.net/db/28/shortprofile/',
 'home_range_li': 'low',
 'home_range_po': 'low',
 'home_range_ce': 'high',
 'depth_range_li': 'low',
 'depth_range_po': 'middle',
 'depth_range_ce': 'high',
 'migration_li': 'low',
 'migration_po': 'middle',
 'migration_ce': 'middle',
 'reproduction_li': 'low',
 'reproduction_po': 'middle',
 'reproduction_ce': 'middle',
 'aggregation_li': 'low',
 'aggregation_po': 'low',
 'aggregation_ce': 'high',
 'aggression_li': 'low',
 'aggression_po': 'low',
 'aggression_ce': 'middle',
 'substrate_li': 'low',
 'substrate_po': 'high',
 'substrate_ce': 'middle',
 'stress_li': 'low',
 'stress_po': 'middle',
 'stress_ce': 'middle',
 'malformation_li': 'nofindings',
 'malformation_po': 'unclear',
 'malformation_ce': 'nofindings',
 'slaughter_li': 'unclear',
 'slaughter_po': 'low',
 'slaughter_ce': 'middle',
 'fishethoscore_li': '0',
 'fishethoscore_po': '1',
 'fishethoscore_ce': '3'}

In [6]:
# let's save this for easier access later
db_flattened_data = list(map(flatten_species_data, db_data))

ETHO_OUTPUT_FP = os.path.join(ETHO_DIR, "fishdb_flattened.json")
with open(ETHO_OUTPUT_FP, "w") as outfile:
    json.dump(db_flattened_data, outfile)

In [7]:
db_df = pd.DataFrame(db_flattened_data)
db_df.head()

,link_summary,name_latin,name_english,sp_id,description,link_profile,home_range_li,home_range_po,home_range_ce,depth_range_li,...,malformation_li,malformation_po,malformation_ce,slaughter_li,slaughter_po,slaughter_ce,fishethoscore_li,fishethoscore_po,fishethoscore_ce,filename_image
0,http://fishethobase.net/db/28/,Octopus vulgaris,Common octopus,commonoctopus,Octopus vulgaris has recently aroused much int...,http://fishethobase.net/db/28/shortprofile/,low,low,high,low,...,nofindings,unclear,nofindings,unclear,low,middle,0,1,3,NaN
1,http://fishethobase.net/db/21/,Litopenaeus vannamei,Pacific whiteleg shrimp,pacificwhitelegshrimp,"Like other farmed shrimp species, the Pacific ...",http://fishethobase.net/db/21/shortprofile/,unclear,nofindings,low,low,...,unclear,nofindings,low,low,middle,middle,0,2,3,NaN
2,http://fishethobase.net/db/34/,Penaeus monodon,Giant tiger prawn (Black tiger,gianttigerprawnblacktiger,Penaeus monodon is one of the most cultivated ...,http://fishethobase.net/db/34/shortprofile/,unclear,nofindings,low,low,...,unclear,nofindings,low,low,middle,middle,0,1,2,gianttigerprawnblacktiger.jpg
3,http://fishethobase.net/db/2/,Acipenser baerii,Siberian sturgeon,siberiansturgeon,"Acipenser baerii, an endangered species accord...",http://fishethobase.net/db/2/shortprofile/,unclear,middle,middle,low,...,low,high,middle,low,high,middle,0,2,0,siberiansturgeon.jpg
4,http://fishethobase.net/db/3/,Acipenser gueldenstaedtii,Russian sturgeon,russiansturgeon,Acipenser gueldenstaedtii is a critically enda...,http://fishethobase.net/db/3/shortprofile/,unclear,nofindings,low,low,...,unclear,middle,low,unclear,high,low,0,2,2,russiansturgeon.jpg

In [8]:
db_df[["name_english", "sp_id", "link_summary", "fishethoscore_li", "fishethoscore_po", "fishethoscore_ce"]].head(10)

,name_english,sp_id,link_summary,fishethoscore_li,fishethoscore_po,fishethoscore_ce
0,Common octopus,commonoctopus,http://fishethobase.net/db/28/,0,1,3
1,Pacific whiteleg shrimp,pacificwhitelegshrimp,http://fishethobase.net/db/21/,0,2,3
2,Giant tiger prawn (Black tiger,gianttigerprawnblacktiger,http://fishethobase.net/db/34/,0,1,2
3,Siberian sturgeon,siberiansturgeon,http://fishethobase.net/db/2/,0,2,0
4,Russian sturgeon,russiansturgeon,http://fishethobase.net/db/3/,0,2,2
5,Adriatic sturgeon,adriaticsturgeon,http://fishethobase.net/db/4/,0,1,0
6,Sterlet sturgeon,sterletsturgeon,http://fishethobase.net/db/6/,0,1,0
7,Stellate sturgeon,stellatesturgeon,http://fishethobase.net/db/5/,0,0,0
8,White sturgeon,whitesturgeon,http://fishethobase.net/db/7/,0,1,2
9,Hybrid sturgeon,hybridsturgeon,http://fishethobase.net/db/53/,0,0,0

In [9]:
# Just for ease of research, let's get a list of names for our species
db_df[["name_english", "name_latin"]]

                      name_english                   name_latin
0                   Common octopus             Octopus vulgaris
1          Pacific whiteleg shrimp         Litopenaeus vannamei
2   Giant tiger prawn (Black tiger              Penaeus monodon
3                Siberian sturgeon             Acipenser baerii
4                 Russian sturgeon    Acipenser gueldenstaedtii
5                Adriatic sturgeon           Acipenser naccarii
6                 Sterlet sturgeon           Acipenser ruthenus
7                Stellate sturgeon          Acipenser stellatus
8                   White sturgeon      Acipenser transmontanus
9                  Hybrid sturgeon             BAEyNAC, NACxBAE
10                     Clown loach     Chromobotia macracanthus
11                      Grass carp      Ctenopharyngodon idella
12                     Common carp              Cyprinus carpio
13                    Atlantic cod                 Gadus morhua
14                          Burbot                    Lota lota
15                  Striped mullet               Mugil cephalus
16               Greater amberjack             Seriola dumerili
17            Yellowtail amberjack              Seriola lalandi
18                    Nile tilapia        Oreochromis niloticus
19                      Barramundi             Lates calcarifer
20                European seabass          Dicentrachus labrax
21                  European perch            Perca fluviatilis
22                       Pikeperch            Sander lucioperca
23                   Common Dentex                Dentex dentex
24                       Wreckfish         Polyprion americanus
25                           Cobia         Rachycentron canadum
26                          Meagre           Argyrosomus regius
27           Southern bluefin tuna             Thunnus maccoyii
28                 Malabar Grouper      Epinephelus malabaricus
29             Sharpsnout Seabream            Diplodus puntazzo
30                       Red Porgy                Pagrus pagrus
31               Gilthead seabream                Sparus aurata
32                Atlantic halibut    Hippoglossus hippoglossus
33                          Turbot         Scophthalmus maximus
34                 Senegalese sole           Solea senegalensis
35                      Dover sole                  Solea solea
36                   Cherry salmon           Oncorhynchus masou
37                   Rainbow trout          Oncorhynchus mykiss
38                 Atlantic salmon                  Salmo salar
39                     Arctic char   Salvelinus alpinus alpinus
40                     Brook trout        Salvelinus fontinalis
41                        Grayling          Thymallus thymallus
42      African sharptooth catfish           Clarias gariepinus
43                       Pangasius  Pangasianodon hypophthalmus

**2. Explore the fish count databases**

In [10]:
CT_DECAPOD_FP = os.path.join(COUNT_DIR, "Farmed-decapods-2015.xlsx")
CT_FISH_FP = os.path.join(COUNT_DIR, "Farmed-fishes-2015.xlsx")
CT_WILD_FP = os.path.join(COUNT_DIR, "fishcount_estimated_wild_fish_2007-2016.xlsx")

In [25]:
# grab all of the datas
deca_df = pd.read_excel(CT_DECAPOD_FP, sheet_name="Decapods", header=8)
print(len(deca_df))
deca_df.head()

1852

,Country,FAO Species Category,Scientific name,Decapod species?,Crustacean species?,Class,Order,Family,Multi-species?,Year,Production (t),EMW id,Estimated mean weight (lower),Estimated mean weight (upper),mean weight (lower),mean weight (upprr),Numbers (lower) millions,Numbers (upper) millions
0,Afghanistan,Cyprinids nei,Cyprinidae,N,N,Actinopterygii,CYPRINIFORMES,Cyprinidae,NaN,2015.0,1000.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,Afghanistan,Rainbow trout,Oncorhynchus mykiss,N,N,Actinopterygii,SALMONIFORMES,Salmonidae,NaN,2015.0,150.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,Albania,Bighead carp,Hypophthalmichthys nobilis,N,N,Actinopterygii,CYPRINIFORMES,Cyprinidae,NaN,2015.0,16.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,Albania,Common carp,Cyprinus carpio,N,N,Actinopterygii,CYPRINIFORMES,Cyprinidae,NaN,2015.0,26.8,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,Albania,Crucian carp,Carassius carassius,N,N,Actinopterygii,CYPRINIFORMES,Cyprinidae,NaN,2015.0,12.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [26]:
fish_df = pd.read_excel(CT_FISH_FP, sheet_name="Fish species", header=6)
print(len(fish_df))
fish_df.head()

1853

,Country,FAO Species Category,Scientific name,Fish species?,Class,Order,Family,Multi-species?,Year,Production (t),EMW id,Estimated mean weight (lower),Estimated mean weight (upper),mean weight (lower),mean weight (upper),Numbers (lower) millions,Numbers (upper) millions
0,Afghanistan,Rainbow trout,Oncorhynchus mykiss,Y,Actinopterygii,SALMONIFORMES,Salmonidae,N,2015.0,150.0,155.0,210.0,5000.0,210.000000,5000.000000,0.030000,0.714286
1,Afghanistan,Cyprinids nei,Cyprinidae,Y,Actinopterygii,CYPRINIFORMES,Cyprinidae,NaN,2015.0,1000.0,NaN,0.0,0.0,322.064283,1081.212063,0.924888,3.104970
2,Albania,Bighead carp,Hypophthalmichthys nobilis,Y,Actinopterygii,CYPRINIFORMES,Cyprinidae,N,2015.0,16.0,29.0,500.0,1500.0,500.000000,1500.000000,0.010667,0.032000
3,Albania,Common carp,Cyprinus carpio,Y,Actinopterygii,CYPRINIFORMES,Cyprinidae,N,2015.0,26.8,57.0,500.0,2500.0,500.000000,2500.000000,0.010720,0.053600
4,Albania,Crucian carp,Carassius carassius,Y,Actinopterygii,CYPRINIFORMES,Cyprinidae,N,2015.0,12.0,62.0,150.0,400.0,150.000000,400.000000,0.030000,0.080000

In [27]:
wild_df = pd.read_excel(CT_WILD_FP, sheet_name="Sheet1", header=17)
print(len(wild_df))
wild_df.head()

12045

,Country,FAO Species Category,Scientific name,Fish species?,Class,Multi-species?,Year,Production (t),EMW id,Estimated mean weight EMW (lower) g,Estimated mean weight EMW (upper) g,Global Generic estimated mean weight for class GEMW (lower) g,Global Generic estimated mean weight for class GEMW (upper) g,Mean weight used (lower) g,Mean weight used (upper) g,Estimated numbers (lower) millions,Estimated numbers (upper) millions
0,Afghanistan,Freshwater fishes nei,NaN,Y,Includes species from > 1 class,NaN,2007-2016,1000.0,NaN,0,0,37.8921,96.5228,37.8921,96.5228,10.360251,26.390735
1,Albania,"Angelsharks, sand devils nei",Squatinidae,Y,Elasmobranchii (sharks and rays),Y,2007-2016,16.0,23,1683.72,19793.8,5950.39,10539.4,1683.72,19793.8,0.000808,0.009503
2,Albania,Atlantic bluefin tuna,Thunnus thynnus,Y,Actinopterygii (ray-finned fishes),N,2007-2016,18.0,51,262000,262000,37.7549,96.1746,262000,262000,0.000069,0.000069
3,Albania,Atlantic bonito,Sarda sarda,Y,Actinopterygii (ray-finned fishes),N,2007-2016,15.3,52,1818,5000,37.7549,96.1746,1818,5000,0.003060,0.008416
4,Albania,Barracudas nei,Sphyraena spp,Y,Actinopterygii (ray-finned fishes),Y,2007-2016,0.7,91,186.795,9072,37.7549,96.1746,186.795,9072,0.000077,0.003747

In [28]:
# checks - I think the scientific names are a good potential key to merge on. But are they unique
# across the data? I would imagine some things show up in both wild and another dataset.

get_uniq_sci_names = lambda df: set(df["Scientific name"].tolist())
deca_sci_names = get_uniq_sci_names(deca_df)
fish_sci_names = get_uniq_sci_names(fish_df)
wild_sci_names = get_uniq_sci_names(wild_df)

In [29]:
# are there any overlaps between decapods and fish? That would be weird. wild and farmed fish counts
# can be dealt with separately, I guess.

len(deca_sci_names.intersection(fish_sci_names))

419

In [ ]:
# hmmm..... let's explore this stuff later, I guess.